# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
/back-end/.env
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Environnements virtuels
venv/
ENV/
.venv

# Logs et bases de données
*.log
*.sqlite
*.db

# Fichiers de configuration locaux
config.py
settings.local.py

# Dossiers de médias et fichiers uploadés
uploads/
media/

# IDEs et éditeurs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Ne pas ignorer les fichiers essentiels au build et au déploiement sur AWS Amplify
!front-end/package.json
!front-end/package-lock.json
!back-end/requirements.txt

# Fichiers et dossiers temporaires de Python et de pip
pip-log.txt
requirements.txt.lock

# Fichiers d'environnement
/back-end/.env
/back-end/s3_downloads
