JWT_SECRET_KEY=
FLASK_ENV=development
FLASK_APP=app.py
PG_HOST=hetic.cd5ufp6fsve3.us-east-1.rds.amazonaws.com
PG_PORT=5432
PG_DB=groupe4
PG_USER=postgres
PG_PASSWORD=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=